body{
    margin: 75px 0 0 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: stretch;
}

header{
    position: fixed;
    height: 75px;
    width: 100vw;
    top: 0;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    background: white;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    align-items: center;
    justify-content:space-around;
    line-height: 75px;
}

#Logo{
    flex-grow: 1;
}
#Msgs,#Not,#Menu{
    flex-grow: 1;
}

#Inicio, #Siguiendo, #explorar, #User{
    flex-grow: 2;
}

#searchbar{
    flex-grow: 9;
    display: flex;
    justify-content: center;
    height: 80%;
}
#searchbar input{
    width: 90%;
    height: 60%;
    border-radius: 50px;
    border: 1px solid rgba(0,0,0,0.3);
}

div.col{
    width: 16.59vw;
    border-left: 1px solid #2c3e50;
    border-right: 1px solid #2c3e50;
}

div.col div{
    width: 100%;
    border-bottom: 1px solid #2c3e50;
}

div.col div.dos{
    height: 200px;
    background: #3498db;
}
div.col div.cuatro{
    height: 400px;
    background: #27ae60;
}
div.col div.seis{
    height: 600px;
    background: #34495e;
}

